<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Más Información</title>
    <link rel="stylesheet" href="../css/informacionProduct.css">
</head>

<body class="pagina">
    <header class="cabecera">
        <button class="cabecera__boton" onclick='window.location.href="paginaPrincipal.html"'>Volver</button>
        
    </header>

    <main class="contenido">
        <section id="lista" class="producto-detalle"></section>
    </main>

    <script type="module" src="../js/index_Pagina_Principal.js"></script>
</body>

</html>